asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Django==5.0.7
django-debug-toolbar==4.4.6
dotenv==0.0.5
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==3.0.3
inflection==0.5.1
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
pathlib==1.0.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==0.19.2
SQLAlchemy==1.4.32
sqlparse==0.5.1
typing-extensions==4.12.2
tzdata==2024.1
Werkzeug==2.0.3
