body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/images/back3.jpeg'); /* Ruta a tu imagen de fondo */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

.alert.success {
    background-color: #d4edda;
    color: #1a682c;
    border: 1px solid #c3e6cb;
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.banner-container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto; /* Ajusta la altura según tus necesidades */
    background-color: #0a2b34;
    justify-content: center;

    
}

/*.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.logo-image {
   /* position: absolute;
    top: 1px; Ajusta la posición vertical del logo 
    left: 30px;  Ajusta la posición horizontal del logo */
    width: 70%; /* Ajusta el tamaño del logo */
    height: 100%;
}

.form-container {
    position: relative;
    background-image: url('/static/images/back2.jpeg'); /* Asegúrate de que esta ruta sea correcta */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    color:aquamarine;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
