<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
</head>
<body id="bodyadmin">
    <h1>Panel de Administración</h1>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Cumpleaños</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Lugar del Servicio</th>
                <th>Forma de Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
            <tr>
                <td>{{ cita.cliente.nombre }}</td>
                <td>{{ cita.cliente.email }}</td>
                <td>{{ cita.cliente.telefono }}</td>
                <td>{{ cita.cliente.direccion }}</td>
                <td>{{ cita.cliente.cumpleanos }}</td>
                <td>{{ cita.servicio }}</td>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora }}</td>
                <td>{{ cita.lugar }}</td>
                <td>{{ cita.cliente.pago }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
