<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluquería - Agenda tu cita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="banner-container">
        <img src="{{ url_for('static', filename='images/banner.jpeg') }}" alt="Banner" class="banner-image">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image">
    </div>
    <div class="form-container">
        <h1>Agenda tu cita</h1>
        <form action="{{ url_for('agendar') }}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>

            <label for="servicio">Servicio:</label>
            <select id="servicio" name="servicio" required>
                <option value="Corte de pelo">Corte de pelo</option>
                <option value="Tinte">Tinte</option>
                <option value="Peinado">Peinado</option>
                <option value="Manicura">Manicura</option>
                <option value="Pedicura">Pedicura</option>
            </select>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" required>

            <button type="submit">Agendar</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
